<%- include("./partials/header") -%>
      
<!-- BLOG START  -->
<section id="blog" class="container pb-5">
        <h1 class="text-center mt-5 mb-0"><%= foundPost.title %></h1>
        <p class="text-muted text-center mt-0"><%= foundPost.datePosted + " " + foundPost.timePosted %></p>
        <p class="text-center">by <%= foundPost.postedByString %></p>
        <p class="blog-content"><%= foundPost.content %></p>
<!-- BLOG END  -->
</section>


<%- include("./partials/footer") -%>

