<%- include("./partials/header") -%>
      
      <!-- USER BLOGS START  -->
      <section id="user-blogs">
        <div class="d-flex justify-content-start flex-wrap p-5">
          <!-- BLOG 1  -->
          <% foundPublicPosts.forEach(function(post) { %>
            <div class="card border-grey mb-3 mx-3" style="max-width: 18rem">
              <div class="card-header">
                <p class="d-inline"><%= post.postedByString %></p>
                <span class="text-muted fs-6 blog-date"><%= post.datePosted %></span>
              </div>
              <div class="card-body text-dark">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text">
                  <%= post.content.substring(0, 200) %>
                  <a href="/user-blogs/<%= post.id %>">Read more</a>
                </p>
              </div>
            </div>

          <% }) %>


 
        </div>

        <!-- USER BLOGS END  -->




<%- include("./partials/footer") -%>

